REACT_APP_WEB_URL=http://localhost:3000
REACT_APP_API_KEY=XXXXXX
REACT_APP_SENTRY_DNS=XXXXXX
REACT_APP_FIREBASE_API_KEY=XXXXXX
REACT_APP_FIREBASE_AUTH_DOMAIN=kdetosakra.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=kdetosakra
REACT_APP_FIREBASE_STORAGE_BUCKET=kdetosakra.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=XXXXXX
REACT_APP_FIREBASE_APP_ID=XXXXXX
REACT_APP_FIREBASE_MEASUREMENT_ID=XXXXXX
APP_NAME=kdetosakracz_web
DOCKER_REPO=repo.treescale.com
DOCKER_REPO_USERNAME=fjoogymregistry
