# https://docs.docker.com/compose/compose-file/
version: "3"

services:
  web:
    image: repo.treescale.com/fjoogymregistry/kdetosakracz_web:latest
    ports:
      - 4000:80
    environment:
      NODE_ENV: development
      REACT_APP_SENTRY_DNS: <<PUT_HERE_DNS_FROM_SENTRY>>
      REACT_APP_API_KEY: <<PUT_HERE_API_KEY_FROM_SENTRY>>
      APP_NAME: kdetosakracz_web

  nginx:
    image: nginx:1.16.1-alpine
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    ports:
      - 80:80
      - 443:443
    volumes:
      - "./data/nginx:/etc/nginx/conf.d"
      - "./data/certbot/conf:/etc/letsencrypt"
      - "./data/certbot/www:/var/www/certbot"

  certbot:
    image: certbot/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    volumes:
      - "./data/certbot/conf:/etc/letsencrypt"
      - "./data/certbot/www:/var/www/certbot"
