* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.layout {
    display: flex;
    justify-content: center;
    padding: 10px 20px 20px 20px;
}

.kdetosakra-logo {
    max-width: 135px;
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ant-layout-content {
    display: flex;
    justify-content: center; /* Add this */
    flex-wrap: wrap;
    justify-content: space-around;
}

.ant-layout-footer {
    padding: 13px 50px !important;
    background: #ffffff;
}

.ant-modal-body {
    padding: 24px 24px 0 24px;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is flex container */
.menu-container {
    color: #828282;
    display: flex;
    justify-content: center;
    height: 180px;
}

.game-menu {
    height: 70px;
}

.logo-not-displayed {
    display: none;
}

.menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.main-menu {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
}

.menu-game-info {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 70px;
}

.menu-game-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    min-width: 100px;
}

.menu-game-info-box-head {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
}

.menu-game-info-box-item {
    color: rgba(0, 0, 0, 0.85);
    font-size: 22px;
}

.menu-item {
    padding: 0;
    display: inline-block;
}

.menu-separator {
    color: #e1e3e8;
    margin: 0 15px 0 15px;
}

.ant-card {
    width: 375px !important;
    margin: 0 1px 0 1px !important;
}

.ant-card-bordered {
    margin-bottom: 30px !important;
}

input[type='text'],
select,
number {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

button {
    margin: 10px 0 0 0;
}

.button-play {
    margin: 0 5px 0 5px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.game-mode-container {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
}

.game-mode-item {
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    padding: 5px;
}

.about-container {
    padding: 0 20px 0 20px;
    width: 900px;
    justify-content: center;
}

.smap-suggest {
    position: relative;
    bottom: -25px;
}

.result-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.result-modal-container {
    min-height: 250px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 45px 0 45px;
}

.result-modal-container-item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 10px 0;
}

.result-rounds-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.result-round {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.result-round-color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
}

.result-round-no {
    display: flex;
    flex: 1;
    justify-content: center;
}

.result-round-distance {
    display: flex;
    flex: 2;
    justify-content: center;
}

.result-round-score {
    display: flex;
    flex: 2;
    justify-content: center;
}

.result-round-other-info {
    display: flex;
    flex: 3;
    justify-content: center;
}

.result-modal-button {
    padding: 0 0 10px 0;
    text-align: center;
}

.game-mode-info-container {
    flex: 1;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.ant-spin-nested-loading {
    width: 100% !important;
}

.game-screen-container {
    display: flex;
    width: 100%;
}

.panorama-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.battle-users-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e3e8;
    padding: 10px 15px 0 15px;
}

.battle-users-container p {
    font-size: 14px;
}

.battle-users-container h5 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.battle-users-container--toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    position: absolute;
}

.battle-players {
    display: flex;
    flex-direction: column;
}

.battle-settings .ant-checkbox-wrapper {
    font-size: 14px !important;
    margin-bottom: 15px !important;
}

.battle-settings-slider-container {
    display: flex;
    flex-direction: row;
}

.battle-settings-slider {
    display: flex;
    width: 90%;
}

.battle-settings-slider-desc {
    display: flex;
    width: 10%;
}

.battle-players-detail {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 10px;
}

.battle-players-detail--name {
    display: flex;
    flex: 3;
    justify-content: flex-start;
    font-size: 13px;
}

.battle-players-detail--status {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.panorama {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-container {
    padding: 20px 0;
    color: #5995da;
    display: flex;
    justify-content: center;
}

.footer {
    width: 90%;
    display: flex;
    justify-content: center;
}

.footer-item {
    display: flex;
    align-items: center;
}

.signup {
    margin-left: auto;
}

.smap {
    height: 450px !important;
    margin-bottom: 5px;
}

.smap-style {
    border-radius: 25px;
    border: 3px solid #fff;
}

.smap-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlighted {
    font-weight: bolder;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .game-mode-info-container {
        display: none;
    }

    .menu-container {
        padding: 30px 0 15px 0;
        height: 20px;
    }

    .smap-container {
        width: 100%;
    }

    .main-menu {
        padding-left: 20px;
    }

    .menu-game-info {
        padding-right: 20px;
        font-size: 12px;
    }

    .menu-game-info-box {
        min-width: 80px;
    }

    .menu-game-info-box-head {
        font-size: 10px;
    }

    .menu-game-info-box-item {
        font-size: 8px;
    }

    .menu-item {
        display: none;
    }

    .kdetosakra-logo {
        max-width: 0px;
    }

    .layout {
        padding: 15px 20px 20px 20px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .game-mode-item {
        width: 50%;
    }

    .menu-container {
        padding: 30px 0 15px 0;
        height: 20px;
    }

    .menu {
        align-items: center;
    }

    .menu-game-info-box-item {
        font-size: 15px;
    }

    .menu-item {
        display: none;
    }

    .main-menu {
        padding-left: 30px;
    }

    .menu-game-info {
        padding-right: 30px;
    }

    .battle-players-detail--name {
        font-size: 10px;
    }

    .smap-container {
        width: 100%;
    }

    .kdetosakra-logo {
        max-width: 0px;
    }

    .layout {
        padding: 15px 20px 20px 20px;
    }

    .battle-users-container button,
    .battle-users-container p {
        font-size: 12px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .game-mode-item {
        width: 50%;
    }

    .smap-container {
        position: fixed;
        bottom: 5px;
        right: 15px;
    }
}

/* Large Display Desktop Styles */
@media only screen and (min-width: 1281px) {
    .ant-card {
        width: 600px;
    }
}
