@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular');
    url: (./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Roboto-Regular';
    margin: 0;
    padding: 0;
}

.kdetosakra-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is flex container */
.menu-container {
    flex: 1;
    color: #fff;
    background-color: #5995da; /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    height: 80px;
}

.menu {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-mode-container {
    padding: 20px 0;
    background-color: khaki;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
}

.game-mode-item {
    border: 1px solid #000;
    width: 400px;
    height: 300px;
    padding: 5px;
}

.about-container {
    background-color: fuchsia;
    width: 100%;
    color: #000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 900px;
    background-color: khaki;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.result-container {
    background-color: chartreuse;
    height: 200px;
    color: #000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.game-mode-info-container {
    flex: 1;
    color: #fff;
    background-color: #5995da; /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.panorama-container {
    padding: 20px 0;
    background-color: brown;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}

.panorama {
    background-color: crimson;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-container {
    padding: 20px 0;
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: blue;
    width: 90%;
    display: flex;
    justify-content: center;
}

.footer-item {
    background-color: #d6e9fe;
    display: flex;
    align-items: center;
}

.signup {
    margin-left: auto;
}

.smap {
    background-color: aqua;
    height: 450px;
}

.smapContainer {
    background-color: antiquewhite;
    width: 650px;
    position: fixed;
    bottom: 55px;
    right: 5px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #f09a9d; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #f5cf8e; /* Yellow */
    }

    .game-mode-item {
        width: 50%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #b2d6ff; /* Blue */
    }

    .kdetosakra-container {
        width: 960px;
        margin: 0 auto;
    }
    .game-mode-item {
        width: 50%;
    }
    .header {
        height: 400px;
    }
}
