/*
* {
  box-sizing: border-box;
  font-family: 'Arial';
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  margin: 2rem;
}

a {
  color: #08c;
}

code {
  background: #eee;
  padding: .1rem;
  font-family: 'Menlo';
  font-size: 13px;
  color: #ff00aa;
}

input {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.input-feedback {
  color: red;
  margin-top: .25rem;
}

button {
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.panorama {
  height: 780px;
  width: 1024px;
}

.smap {
  height: 780px;
  width: 1024px;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

/* this is flex container */
.menu-container {
    color: #fff;
    background-color: #5995da; /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-mode-container {
    display: flex;
    justify-content: center;
}

.game-modes {
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
}

.game-mode-item {
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    flex: 1;
}

.czech-cities {
    flex: 2;
}

.random-places {
    flex: 2;
}

.about-container {
    color: #000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.result-container {
    height: 200px;
    color: #000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.game-mode-info-container {
    color: #fff;
    background-color: #5995da; /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.panorama-container {
    display: flex;
    justify-content: center;
}

.social,
.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #d6e9fe;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #5995da;
    flex: initial;
    width: 300px;
}

.signup {
    margin-left: auto;
}

.smap {
    height: 200px;
}

.smapContainer {
    width: 100%;
}
